<div class="jumbotron text-center">
  <h1 class="display-3">BlingBling Blog!</h1>
  <p>Welcome to BlingBling Blog By Yibing Mu</p>
  <div>
    <a *ngIf="!authService.loggedIn()" class="btn btn-primary btn-lg" routerLink="/register" role="button">Register</a>
    <a *ngIf="!authService.loggedIn()" class="btn btn-default btn-lg" routerLink="/login" role="button">Login</a>
    <a *ngIf="authService.loggedIn()" class="btn btn-success btn-lg" routerLink="/blog" role="button">View Blog</a>
  </div>
</div>
