<h1 class="page-header">Blog Feed</h1>

<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlog()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br>
<br>

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success':form.controls.title.valid,'has-error':form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" id="title" class="form-control" placeholder="*Blog Title"
      autocomplete="off" formControlName="title">
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">
          This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">
          MaxLength: 50, MinLength: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">
          Must be a letter or number</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <div [ngClass]="{'has-success':form.controls.body.valid,'has-error':form.controls.body.dirty && form.controls.body.errors}">
      <textarea name="body" rows="8" cols="80" class="form-control" id="body" placeholder="*Body"
                formControlName="body"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">
          This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">
          MaxLength: 500, MinLength: 5</li>
      </ul>
    </div>
  </div>

  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>


</form>

<div *ngIf="!newPost">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Post Title</h3>
    </div>
    <div class="panel-body">
      This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
      and three supporting pieces of content. Use it as a starting point to create something more unique.
    </div>
    <div class="panel-footer">
      <strong>Post by:</strong>&nbsp;&nbsp;Yibing Mu
      <br>
      <strong>Date:</strong>&nbsp;&nbsp;Dec 29, 2017
      <br>
      <div>
        <strong>Like:</strong>&nbsp;&nbsp;25
        <br>
        <strong>Dislike:</strong>&nbsp;&nbsp;2
      </div>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-success">
          <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: 25
        </button>
        <div class="dropdown-content">
          <a href="#">Yibing Mu</a>
          <a href="#">Xing Li</a>
          <a href="#">Zhixuan Yang</a>
          <a href="#">Old Ma</a>
        </div>
      </div>

      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-warning">
          <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: 2
        </button>
        <div class="dropdown-content">
          <a href="#">Yibing Mu</a>
          <a href="#">Xing Li</a>
        </div>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-danger"
        (click)="draftComment()">Post Comment</button>
        <br>
        <!--<form>-->
          <!--<textarea name="comment" rows="10" cols="30" class="form-control"></textarea>-->
          <!--<button type="button" name="button" class="btn btn-sm btn-info">Submit Comment</button>-->
          <!--<button type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>-->
        <!--</form>-->
      </li>
    </ul>

  </div>
</div>
